<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    {{!-- <img src="/img/me.png"> --}}
    <p>This site is created by Abhinav.It uses data from darksky</p>
    {{>footer}}
</body>

</html>